[pytest]
minversion = "9.0.2"
asyncio_mode = "auto"
testpaths = ["tests"]
pythonpath = ["."]
python_files = ["test_*.py"]
python_classes = ["Test*"]
python_functions = ["test_*"]
addopts = [
  "--import-mode=importlib",
  "--cov=src",
  "--cov-report=term-missing",
  "--cov-report=html",
]
